<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xf._16_springboot_mybatis_generator.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.xf._16_springboot_mybatis_generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    insert into t_user (id, name, password, 
      imgurl, role_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
  </select>
  <resultMap id="BaseResultMap" type="com.xf._16_springboot_mybatis_generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    insert into t_user (id, name, password, 
      imgurl, role_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
  </select>
  <resultMap id="BaseResultMap" type="com.xf._16_springboot_mybatis_generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    insert into t_user (id, name, password, 
      imgurl, role_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
  </select>
  <resultMap id="BaseResultMap" type="com.xf._16_springboot_mybatis_generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    insert into t_user (id, name, password, 
      imgurl, role_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
  </select>
  <resultMap id="BaseResultMap" type="com.xf._16_springboot_mybatis_generator.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="imgurl" jdbcType="VARCHAR" property="imgurl" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    insert into t_user (id, name, password, 
      imgurl, role_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xf._16_springboot_mybatis_generator.pojo.User">
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, password, imgurl, role_id
    from t_user
  </select>
</mapper>